<%- include('../partials/head'); %>

<body>
    <%- include('../partials/nav'); %>
    <h1><%=data.length%> Saved Books</h1>
    <%data.forEach(item=>{%>
    <div class="flex">
        <img src="<%=item.image_url%>" alt="">
        <h2><%=item.title%></h2>
        <h3><%=item.author%></h3>
        </form>
    </div>

    <%})%>

</body>

</html>